/**
 * Created by j.frank on 2018/2/12 0012.
 */

$sidebar-background-color:rgba(0, 0, 0, .8);
//$sidebar-background-color:pink;

html, body, ul{
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}
li {
  list-style: none;
}

.sidebar-box{
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  min-height: 100%;
  background: $sidebar-background-color;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  z-index: 999;
}
.sidebar-menu-first{
  margin-bottom: 50px;
  height: 60px !important;
  background: #000;
  line-height: 60px !important;
  flex: 1;
  justify-content:center;
}
.sidebar-menu-other{
  background: rgba(0, 0, 0, .5);
  flex: 1;
  justify-content:center;
}
.sidebar-bottom{
  width: 100%;
  min-height: 60px;
  flex: 1;
  bottom: 0;
  line-height: 60px;
  color: #fff;
  font-size: 30px;
  margin-top: 30px;
}

.page{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  width: 100%;
  height: 100%;

  .header{
    height: 60px;
    background: pink;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 52px;
    display: flex;
    box-sizing: border-box;
    padding: 4px;
  }

  .content{
    /*position:relative;*/
    -ms-flex:1;
    -webkit-box-flex:1;
    -webkit-flex:1;
    flex:1;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
  }
}

.l-radio{
  border: 2px solid;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.scro-enter-active, .scro-leave-active {
  transition: width .3s, opacity .3s;
}

.scro-enter, .scro-leave-to {
  width: 0;
  opacity: 0;
}

.mask{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 998;
}

.head-arrow:before{
  content: "\e695";
  display: inline-block;
  transform: rotate(180deg);
}

.drop-down{
  width: 100%;
  height: 178px;
  background: pink;
  position: fixed;
  padding: 10px;
  top: 60px;
  left: 0;
  .item{
    width: 100%;
    height: 21px;
    margin: 5px 0;
  }
}
.dropDown-enter-active, .dropDown-leave-active {
  transition: height .5s, opacity .5s;
}

.dropDown-enter, .dropDown-leave-to {
  height: 0;
  opacity: 0;
}
